#Search_button{
    background-color: transparent;
    border: 0;
    outline: 0;
}
.Search_button{
    position: relative;
    top: 180px;
    left: 750px;
    display: inline;
}
.Search_png{
    width: 10px;
}
.Search_box{
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 5px 5px lightgray;

    position: absolute;
    width: 700px;
    height: 200px;

    font-family: IBM Plex Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    

    position: relative;
    top:280px;
    left: 500px;
}
