#Front_fg{
    width: 300px;
    position: relative;
    top:110px;
    left: 470px;
}

#Back_fg{
    
    width: 400px;
    position: relative;
    bottom:200px;
    left: 950px;
}

#Design_fg{
    
    width: 430px;
    position: relative;
    bottom:150px;
    left: 690px;
}