#Variable_pg1{
    position: relative;
    top:130px;
    left:80px;
}

#Variable_pg2{
    width: 500px;
    position: relative;
    top:80px;
    left: 1078px;
}

#Variabletext{
    width: 750px;
    position: relative;
    top: 100px;
    left:820px;
    margin: auto;
}

.Variable_ment{
    position: relative;
    left: 870px;
    bottom: 120px;
    width: 50%;
    margin: 40px;
    font-family: IBM Plex Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 38px;

}